
* {
  
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}
#root {
  /* display: flex;
  flex-direction: row; */
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(360deg, #ffffff, rgba(255, 40, 40, 0.9), #ffffff);
  /* border : 12px solid blue; */
  overflow: scroll;
  width: 100%;
  margin: 0%;
  padding: 0%;
  
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  
  
  /* transform: translateY(30px); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}



*::-webkit-scrollbar {
  display: none;  
}
